<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>  
        <link href='https://cdn.boxicons.com/3.0.6/fonts/basic/boxicons.min.css' rel='stylesheet'> 
        {% block links %} {% endblock %}
        
        <script src="{{ url_for('static', filename='js/ckManager.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <!-- <script src="//cdn.socket.io/4.0.0/socket.io.min.js"></script> -->
        <script src="https://unpkg.com/socket.io-client@4.7.5/dist/socket.io.min.js"></script>
        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>
        <header class="navbar">
            <button class="logo-btn-hidden" onclick="window.location.href='/'">
                <div class="logo">
                    <img alt="Qusty logo" src="{{ url_for('static', filename='images/logo.svg') }}" >
                </div>
            </button>

            <nav class="nav-links">
                {% if is_authorization %}
                    <a href="/" class="{% if request.path == '/' %}active{% endif %}">Головна</a>
                    <a href="/profile" class="{% if request.path == '/profile/' %}active{% endif %}">Профіль</a>      
                    <a href="/class_page" class="{% if request.path == '/class_page' %}active{% endif %}">Класи</a>
                    {% if is_teacher %}
                        <a href="/quizzes" class="{% if request.path == '/quizzes/' %}active{% endif %}">Тести</a>
                    {% endif %}
                {% endif %}   
            </nav>

            <div class="user-actions">
                {% if is_authorization %}
                    <h2 class="username">{{ username }}</h2>
                    <form action="/logout">
                        <button class="logout">Вийти</button>
                    </form>
                {% else %}
                    <div class="auth-buttons">
                        <a href="/sign_up">Зареєструватися</a>
                        <a href="/login">Увійти</a>
                    </div>
                {% endif %}
            </div>
        </header>

        <main id="main">
            {% block content %}

            {% endblock %}

            {% block modal %}
                
            {% endblock %}
        </main>

        {% block footer %}
        
        {% endblock %}
    </body>
</html>