{% extends "base.html" %}

{% block title %}
    {% block calss_title %}{% endblock %}
{% endblock %}

{% block links %}
    <link rel = "stylesheet" href = "{{ url_for('class_app.static', filename='css/class.css') }}">
    {% block class_links %}{% endblock %}
{% endblock %}

{% block content %}
    <div class="container-classroom">
        <aside class="sidebar-classroom hidden-sidebar">
            {% if username|length <= 5 %}            
                <div class="classroom-avatar">{{ username }}</div>
            {% else %}
                <div class="classroom-avatar">{{ username[:2]|upper }}</div>
            {% endif %}
            
            <div class="classroom-info">
                <p class="classroom-name">{{ username }}</p>
                <p class="classroom-email">@{{ email }}</p>
            </div>

            <nav class="menu">
                <ul>
                    <li>
                        <a href="/class_page">
                            <div class="page">
                                <i class='bx  bx-home'></i> 
                                <p>Головна</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/task_page">
                            <div class="page">
                                <i class='bxr  bx-list'></i> 
                                <p>Список завдань</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>

        <button class="hide-btn" id="toggle-btn">
            <i class="bx bx-chevron-left"></i>
        </button>

        {% block class_content %}

        {% endblock %}
    </div>

    {% block class_modal %}

    {% endblock %}

    <script src="/class_app/static/js/hideAside.js"></script>
{% endblock %}