{% extends "class.html" %}

{% block calss_title %}
    Create Test
{% endblock %}

{% block class_links %}
    <link rel = "stylesheet" href = "{{ url_for('class_app.static', filename='css/class_page.css') }}">
{% endblock %}

{% block class_content %}
    <main class="content">
        <div class="class-btn-wrapper">
            <h2 class="class-btn-title">Виберіть категорію класів</h2>
            <div class="class-btn-div">
                {% if is_teacher %}
                <div class="classes-card-chooser">
                    <i class='bxr  bx-bookmark-alt'></i> 
                    <button class="my-classes">Доступні класи</button>
                    <p>Перегляньте класи, до яких ви вже долучилися.</p>
                </div>
                {% endif %}

                <div class="classes-card-chooser">
                    <i class='bxr  bx-book'></i> 
                    <button class="classes">Мої класи</button>
                    <p>Перегляньте відкриті класи та приєднуйтеся.</p>
                </div>
            </div>
            <p class="class-btn-subtitle">Перегляньте всі ваші класи або приєднайтесь до нових</p>
        </div>

        {% if is_teacher %}
        <hr>
            <div class="class-div">
                {% if my_classes_list %}
                    <h2>Доступні класи</h2>
                    <div class="card-div">
                        {% for class in my_classes_list %} 
                            {% set tasks = tasks_class_teacher_list[loop.index0] %}

                            {% if class.class_color2 == None %}
                                {% set bg_color = class.class_color1 %}
                            {% else %}
                                {% set bg_color = "linear-gradient(135deg, " ~ class.class_color1 ~ ", " ~ class.class_color2 ~ ")" %}
                            {% endif %}

                            <div class="card with-tasks">
                                <div class="card-header" style="background: {{ bg_color }};">
                                    <div class="h-left-info">
                                        Назва классу: {{ class.title }}<br><span>Автор: {{ class.teacher.username }}</span><span>Код: {{ class.class_code }}</span>
                                    </div>

                                    <div class="class-actions">
                                        <button class="more-class-actions">⋮</button>
                                        
                                        <div class="dropdown">
                                            <form action="/delete_class{{ class.id }}" method="post">
                                                <button type="submit" class="dropdown-btn d">Видалити класс</button>
                                            </form>

                                            <a href="/class_information{{ class.id }}" class="dropdown-btn i">
                                                Інформація про класс
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                

                                <div class="card-body">
                                    <ul>
                                        {% for task in tasks %} 
                                            <li>
                                                {{ task.title }}
                                                <span class="due-time-p">
                                                    {% if task.due_time %}
                                                        - здати до {{ task.due_time.strftime('%d.%m.%Y %H:%M') }}
                                                    {% else %}
                                                        без дедлайну
                                                    {% endif %}
                                                </span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>


                                <div class="card-footer">
                                    <a href="/class_courses{{ class.id }}">
                                        <button class="start-btn" style="background: {{ bg_color }};">
                                            Перейти до классу
                                        </button>
                                    </a>
                                    <a href="/create_task{{ class.id }}">
                                        <button class="start-btn" style="background: {{ bg_color }};">
                                            Створити завдання
                                        </button>

                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

            </div>
        {% else %}       
        <hr>
            <div id="select-info" class="select-info-text">
                <p>Оберіть категорію, щоб переглянути доступні або ваші класи.</p>
            </div>

            {% if classes_list%}
                <div class="class-div">
                    <h2>Мої класи</h2>
                
                    <div class="card-div">       
                        {% for class in classes_list %}       
                            {% set tasks = tasks_class_user_list[loop.index0] %}
                            
                            {% if class.class_color2 == None %}
                                {% set bg_color = class.class_color1 %}
                            {% else %}
                                {% set bg_color = "linear-gradient(135deg, " ~ class.class_color1 ~ ", " ~ class.class_color2 ~ ")" %}
                            {% endif %}

                            <div class="card with-tasks">
                                <div class="card-header" style="background: {{ bg_color }};">
                                    Назва классу: {{ class.title }}<br><span>Автор: {{ class.teacher.username }}</span>
                                </div>

                                <div class="card-body">
                                    {% for task in tasks %} 
                                        <li>
                                            {{ task.title }}
                                            <span class="due-time-p">
                                                {% if task.due_time %}
                                                    - здати до {{ task.due_time.strftime('%d.%m.%Y %H:%M') }}
                                                {% else %}
                                                    без дедлайну
                                                {% endif %}
                                            </span>
                                        </li>
                                    {% endfor %}
                                </div>
                    
                                <div class="card-footer">
                                    <a href="/class_courses{{ class.id }}">
                                        <button class="start-btn" style="background: {{ bg_color }};">
                                            Перейти до классу
                                        </button>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>


            {% endif %}
        {% endif %}
    </main>
{% endblock %}

{% block class_modal %}
    <!-- Кнопка + -->
    <button class="add-btn">+</button>
    <ul class="menu-options">
        <li id="join-course-button">Приєднатися до классу</li>
        {% if is_teacher %}
            <li id="create-course-button">Створити класс</li>
        {% endif %}
    </ul>

    <!-- Форми -->
    <!-- Приєднатись -->
    <div class="modal-bg" id="modal-bg" style="display:none;">
        <div class="modal" id="join-form">
            <button class="back-btn">×</button>
            
            <form class="form" method="POST">
                <h2>Приєднатися до классу</h2>
                <div class="form-group">
                    <h3>Попросіть у свого викладача код классу та введіть його тут.</h3>
                    <label>Код классу</label>
                    <input type="text" placeholder="Введіть код" name="code" required>
                </div>
                <div class="form-group">
                    <label>Вимоги до входу за допомогою коду классу:</label>
                        <ul>
                            <li class="join-li">Використовуйте авторизований обліковий запис</li>
                            <li class="join-li">Код классу має містити лише літери або цифри (5–8) і не включати пробіли й спеціальні символи</li>
                        </ul>
                </div>
    
                <div class="bottom-button">
                    <button type="submit" class="join-course-btn">Приєднатися</button>
                </div>
            </form>
        </div>

        <!-- Створити -->
        <div class="modal" id="create-form" style="display:none;">
            <button class="back-btn">×</button>
            
            <form class="test-form" method="POST">
                <h2>Створити класс</h2>
                <div class="form-group">
                    <label>Назва классу:</label>
                    <input type="text" placeholder="Введіть назву классу" name="title" required>
                </div>
                <div class="form-group">
                    <label>Назва уроку:</label>
                    <input type="text" placeholder="Введіть назву уроку" name="lesson" required>
                </div>
                <div class="form-group">
                    <label>Колір классу:</label>
                    <select id="color-type" name="color-type">
                        <option value="single">Монотонний</option>
                        <option value="gradient">Градієнт</option>
                    </select>
                </div>
        
                <div class="form-group color-group" id="color-single">
                    <input type="color" value="#ff0000" name="color-m" required>
                </div>
                <div class="form-group color-group" id="color-gradient" style="display:none;">
                    <input type="color" value="#ff0000" name="color-g1" required>
                    <input type="color" value="#0000ff" name="color-g2" required>
                </div>
        
                <div class="form-group">
                    <label>Максимальна кількість учнів:</label>
                    <input type="number" placeholder="Введіть число" name="max-count" required>
                </div>
        
                <button class="join-course-btn" type="submit">Створити класс</button>
            </div>
        </form>
    </div>   

    <script src="/class_app/static/js/classSorte.js"></script>
    <script src="/class_app/static/js/classModals.js"></script>   
{% endblock %}