{% extends "class.html" %}

{% block calss_title %}
    Create Test
{% endblock %}

{% block class_links %}
    <link rel = "stylesheet" href = "{{ url_for('class_app.static', filename='css/courses.css') }}">
{% endblock %}

{% block class_content %}
    <div class="container-classroom">
        <div class="classroom-content">
            {% if class.class_color2 == None %}
                <div class="course-header"  style="background: {{ class.class_color1 }};">
                    <h2>{{ class.title}}</h2>
                    <h4>{{ class.lesson }}</h4>
                </div>

                {% if username == class.teacher.username %}    
                    <a href="/create_task{{ class.id }}?back_course={{ class.id }}">
                        <button class="start-btn" style="background: {{ class.class_color1 }};">
                            Створити завдання
                        </button>
                    </a>
                {% endif %}
            {% else %}
                <div class="course-header" style="background: linear-gradient(135deg, {{ class.class_color1 }}, {{ class.class_color2 }});">
                    <h2>{{ class.title}}</h2>
                    <h4>{{ class.lesson }}</h4>
                </div>

                {% if username == class.teacher.username %}             
                    <a href="/create_task{{ class.id }}?back_course={{ class.id }}">
                        <button class="start-btn" style="background: linear-gradient(135deg, {{ class.class_color1 }}, {{ class.class_color2 }});">
                            Створити завдання
                        </button>
                    </a>
                {% endif %}
            {% endif %}

            {% for task in taskes_list %}
                {% set status = do_task[loop.index0] %}
                {% set due_time = due_time_list[loop.index0] %}
                {% set can_do = can_do_task[loop.index0] %}
                {% set test = online_tasks[loop.index0] %}
                {% set can_start = start_button[loop.index0] %}    
                <div class="course-tasks">
                    <div class="task">

                        <div class="task-header">
                            <h3>{{ task.title }}</h3>
                            {% if can_do and not status and username != class.teacher.username and not task.online %}
                                <a href="/passing_test?test_id={{ task.test_id }}&question_number=0&back_to_class={{ class.id }}">
                                    <button onclick="passingTaskTest({{ task.test_id }}, {{ class.id }})">Пройти тест</button>
                                </a>
                            {% elif test.test_code and username != class.teacher.username %}
                                <a href= "/room{{ test.test_code }}">
                                    <button>Пройти онлайн тест</button>
                                </a>
                            {% endif %}
                        </div>

                        <div class="task-main">
                            <p>{{ task.description }}</p>
                            <div class="task-deadline">
                                {% if due_time[0] %}    
                                    <p><strong>Дедлайн:</strong> {{ due_time[0] }}</p>
                                    <p>Залишилось: {{ due_time[1] }}</p>
                                {% else %}
                                    <p><strong>Дедлайн:</strong> Немає терміну здачі </p>
                                {% endif %}
                            </div>
                        </div>

                        {% if username == class.teacher.username %}
                            <div class="task-actions">
                                <a href="/result_task?class_id={{task.class_id}}&task_id={{task.id}}">
                                    <button>Результати класу</button>
                                </a>

                                {% if task.online %}       
                                    {% if test.test_code != 0 %}
                                        <form action="/reset_test{{ test.id }}" method="POST">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                            <button>Скинути тест</button>
                                        </form>
                                        {% if test.test_code != 0 and not can_start %}
                                            <a href="/room{{ test.test_code }}?online_test='{{ task.id }}'">
                                                <button class="start" type="button">Почати</button>
                                            </a>
                                        {% endif %}                           
                                    {% else %}
                                        {% if test.test_code == 0 %}
                                            <a href="/create_code{{ test.id }}">
                                                <button class="edit" type="button">Створити код</button>
                                            </a>
                                        {% endif %}

                                        <a href="/delete_task{{task.id}}">
                                            <button>Видалити завдання</button>
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <a href="/delete_task{{task.id}}">
                                        <button>Видалити завдання</button>
                                    </a>
                                {% endif %}
                            </div>
                        {% endif %}
                        </div>
                    </div>

            {% endfor %}

            
        </div>
    </div>

    <!-- Кнопка додому -->
    <a href="/class_page" title="Повернутись до класів">
        <button class="home-button">
            <i class='bx  bx-home'></i>
        </button>
    </a>

    <script>
        function passingTaskTest(testId, classId){
            setCookie("taskTestId", testId)
            setCookie("classId", classId)
            //document.cookie = `taskTestId= ${testId}; path = /`; 
            //document.cookie = `classId= ${classId}; path = /`; 
        }
    </script>
{% endblock %}