{% extends "base.html" %}

{% block title %}
    Create Test
{% endblock %}

{% block links %}
    <link rel = "stylesheet" href = "{{ url_for('class_app.static', filename='css/create_task.css') }}">
{% endblock %}

{% block content %}
    <div class="wraper">
        <div class="container">
            <h1>Створіть завдання для свого класу</h1>
            <h3>Questy – це найпростіший спосіб керувати групою</h3>
        
            <section class="create-test-page">
                <h2 class="page-title">Створити нове завдання</h2>
        
                <form class="test-form" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    
                    <div class="form-group">
                        <label for="test-title">Назва завдання</label>
                        <input type="text" id="class-title" name="title" placeholder="Введіть тему завдання" required>
                    </div>
              
                    <div class="form-group">
                        <label for="test-description">Опис завдання</label>
                        <textarea id="class-description" name="description" placeholder="Опишіть своє завдання" rows="3" required></textarea>
                    </div>

                    <div class="radio-button-box">
                        <label for="done-after-due-time">Можна здати після дедлайну?</label>               
                        <input type="checkbox" id="done-after-due-time" name="done-after-due-time">
                    </div>

                    <div class="radio-button-box">
                        <label for="'online-test'">Онлайн тест</label>               
                        <input type="checkbox" id="online-test" name="online-test">
                    </div>

                    <div class="form-group">
                        <label>Термін здачі завдання</label>
                        <input type="datetime-local" placeholder="Введіть число" name="due-time">
                    </div>

                    {% if test_list %}
                        <select name="choice_test" id="choice" class="select-test">
                            {% for test in test_list%}
                                <option value="{{ test.id }}" selected>{{ test.title }} </option>
                            {% endfor %}
                        </select>
                    {% else %}
                        <p class="no-test-for-task">Немає тестів для завдання, перед додаванням створіть тест</p>
                    {% endif %}
                    
                    <button type="submit" class="submit-button">Створити завдання</button>
                </form>

                <!-- {% if not test_list %}
                    <a href="/quizzes">
                        <button class="submit-button">Створити тест</button>
                    </a>
                {% endif %} -->
            </section>
        </div> 
    </div>

    <button class="home-circle-btn" onclick="window.location.href='/class_page'">
        <i class='bx  bx-home'></i>
    </button>

{% endblock %}