{% extends "class.html" %}

{% block calss_title %}
    Task page
{% endblock %}

{% block class_links %}
    <link rel = "stylesheet" href = "{{ url_for('class_app.static', filename='css/task_page.css') }}">
{% endblock %}

{% block class_content %}
    <div class="task-div">
        <h2 class="title-tasks">Доступні завдання</h2>

        <div class="filter-bar">
            <label for="course">Оберіть клас: </label>
            <select id="course">
                <option value="all">Усі класи</option>
                {% for class in classes %}          
                    <option value="{{ class.id }}">{{ class.title }}</option>
                {% endfor %}
            </select>
        </div>
    
        <div id="tasks">   
            <div class="category" data-course="all">
                <h3>На цей тиждень</h3>
                {% if cur_week_task_list %}      
                    {% for task in cur_week_task_list %}
                        {% set task_number = loop.index0 + 1 %}
                        <details>
                            <summary>Завдання {{ task_number }} <span class="arrow"></span></summary>
                            <div class="task-details">
                                Назва: {{ task.title }}. <br>
                                Опис: {{ task.description }}. <br>
                                Дедлайн: {{ task.due_time }}.
                            </div>
                        </details>
                        {% endfor %}
                {% else %}
                    <details>
                        <summary> Немає завдань <span class="arrow"></span></summary>
                    </details>
                {% endif %}
            </div>
    
            <div class="category" data-course="all">
                <h3>Наступний тиждень</h3>
                {% if next_week_task_list %}      
                    {% for task in next_week_task_list %}
                        {% set task_number = loop.index0 + 1 %}
                        <details>
                            <summary>Завдання {{ task_number }} <span class="arrow"></span></summary>
                            <div class="task-details">
                                Назва: {{ task.title }}. <br>
                                Опис: {{ task.description }}. <br>
                                Дедлайн: {{ task.due_time }}.
                            </div>
                        </details>
                    {% endfor %}
                {% else %}
                    <details>
                        <summary> Немає завдань <span class="arrow"></span></summary>
                    </details>
                {% endif %}
            </div>

            <div class="category" data-course="all">
                <h3>Без терміну</h3>
                {% if duetime_task_list %}      
                    {% for task in duetime_task_list %}
                        {% set task_number = loop.index0 + 1 %}
                            <details>
                                <summary>Завдання {{ task_number }} <span class="arrow"></span></summary>
                                <div class="task-details">
                                    Назва: {{ task.title }}. <br>
                                    Опис: {{ task.description }}. <br>
                                    Дедлайн: {{ task.due_time }}.
                                </div>
                            </details>
                        {% endfor %}
                    {% else %}
                        <details>
                            <summary> Немає завдань <span class="arrow"></span></summary>
                        </details>
                    {% endif %}
            </div>
                
            <div class="category" data-course="all">
                <h3>Термін здачі пропущено</h3>
                
                {% if overdue_task_list %}  
                    {% for task in overdue_task_list %}
                    {% set task_number = loop.index0 + 1 %}
                        <details>
                            <summary>Завдання {{ task_number }} <span class="arrow"></span></summary>
                            <div class="task-details">
                                Назва: {{ task.title}}. <br>
                                Опис: {{ task.description}}. <br>
                                Дедлайн: {{ task.due_time }}.
                            </div>
                        </details>
                        {% endfor %}
                    {% else %}
                        <details>
                            <summary> Немає таких завдань <span class="arrow"></span></summary>
                        </details>
                    {% endif %}
            </div>
        </div>
    </div>

    <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}">
    <script src="{{ url_for('class_app.static', filename='js/sorteTask.js')}}"></script>
{% endblock %}