{% extends "base.html" %}

{% block title %}
    edit avatar
{% endblock %}

{% block links %}
    <link rel = "stylesheet" href = "{{ url_for('home_app.static', filename='css/edit_avatar.css') }}">
{% endblock %}

{% block content %}
    <form action="" method="POST" class="form">
        <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}">
        {% for index_cloth in range(5) %}
            <div class="{{name_classes[index_cloth]}}">
            <p>Текст</p>
            {% for index in range(3) %}
                {% if index + 1 == list_clothes[index_cloth] %}
                    <label>
                        <input type="radio" name="{{name_classes[index_cloth]}}" checked value="{{index + 1}}">
                        <img src="{{ url_for('home_app.static', filename='images/media/test.png') }}" alt="">
                    </label>
                {% else %}
                    <label>
                        <input type="radio" name="{{name_classes[index_cloth]}}" value="{{index + 1}}">
                        <img src="{{ url_for('home_app.static', filename='images/media/test.png') }}" alt="">
                    </label>
                    {% endif %}
            {% endfor %}
            </div> 
        {% endfor %}
    </form>
    
    <script src="{{ url_for('home_app.static', filename='js/avatarChanges.js') }}"></script>
{% endblock %}

