{% extends "base.html" %}

{% block title %}
    edit avatar
{% endblock %}

{% block links %}
    <link rel = "stylesheet" href = "{{ url_for('home_app.static', filename='css/edit_avatar.css') }}">
{% endblock %}

{% block content %}
    <form action="" method="POST" class="form">
        <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}">
        {% for index_cloth in range(5) %}
            <div class="{{name_classes[index_cloth]}}">
                <p>{{name_classes[index_cloth]}}</p>
                {% for index in range(3) %}
                    {% if name_classes[index_cloth] == "Something" %}
                        {% set img_path = url_for('home_app.static', filename='images/media/test.png')%}
                    {% else %}
                        {% set img_path = url_for('home_app.static', filename='images/avatar/' ~ (index + 1) ~'.png') %}
                    {% endif %}

                    <label>
                        <input type="radio" name="{{name_classes[index_cloth]}}" value="{{index + 1}}">
                        <img src="{{ img_path }}" alt="">
                    </label>
                {% endfor %}
            </div> 
        {% endfor %}
    </form>

    <a href="/profile" title="Повернутись до класів">
        <button class="home-button">
            <i class='bx  bx-home'></i>
        </button>
    </a>

    <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}">
    <script src="{{ url_for('home_app.static', filename='js/avatarChanges.js') }}"></script>
{% endblock %}