{% extends "base.html" %}

{% block title %}
    edit avatar
{% endblock %}

{% block links %}
    <link rel = "stylesheet" href = "{{ url_for('home_app.static', filename='css/edit_avatar.css') }}">
{% endblock %}

{% block content %}
    <form action="" method="POST" class="form">
        <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}">
        
        {% for category in name_classes %}
            {% set category_index = loop.index0 %}
            <div class="{{ category }}">
                <p>Выберите {{ category }}</p>
                
                {% for filename in all_options[category] %}
                    {% set item_id = filename.split('.')[0] %}
                    
                    <label class="avatar-label">
                        <input type="radio" 
                               name="{{ category }}" 
                               value="{{ item_id }}"
                               {% if item_id|int == list_clothes[category_index] %}checked{% endif %}>
                        
                        <img src="{{ url_for('static', filename='media/' + category + '/' + filename) }}" 
                             alt="{{ item_id }}" 
                             style="width: 70px; cursor: pointer;">
                    </label>
                {% endfor %}
            </div> 
        {% endfor %}
    </form>
    
    <script src="{{ url_for('home_app.static', filename='js/avatarChanges.js') }}"></script>
{% endblock %}