{% extends "base.html" %}

{% block title %}
    Edit Test
{% endblock %}

{% block links %}
    <link rel = "stylesheet" href = "{{ url_for('home_app.static', filename='css/edit_profile.css') }}">
{% endblock %}

{% block content %}
    <div class="wrapper">
        <form action="" method="POST" class="form">
            <div class="container">
                {{ form.hidden_tag() }}

                <div class="title-section">
                    <h2 class="title">Редагувати iм'я</h2>
                </div>
                <div class="input-group">
                    <label for="email" class="label-title">Введіть нове iм'я вашого профілю</label>
                    <input type="text" name="username" placeholder="Нове iм'я" required class="input-email">
                </div>
                <div class="input-group">
                    <button type="submit" class="submit-btn">Пiдтвердити</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}