{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block links %}
    <link rel = "stylesheet" href = "{{ url_for('home_app.static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
    <aside class="info">
        <div class="info-text">
            <h1 class="start-t">ПРО НАС</h1>
            <p class="text-d">
                Платформа Questy дозволяє створювати інтерактивні тести, 
                ділитися ними за допомогою унікального коду та проходити їх у режимі реального часу. 
                <!-- Ви можете налаштувати питання, часові обмеження, кількість учасників, та формат відповідей. 
                Підходить як для навчання, так і для розважальних вікторин у компанії. -->
            </p>
        </div>

        <div class= "enter-code">
            <div class="search-input">
                <i class='bx bx-search'></i>
                <input placeholder="Введіть код тесту" class= "input_code" id="room">
                <div class="fake-input-border"></div>
            </div>
            <button type="button" class="search-btn">ПІДКЛЮЧИТИСЬ</button>
        </div>
    </aside>

    {% if list_tests %}
        <section class="tests">
            <h2>Доступні тести</h2>
            <div class="tests-scroll">
                {% for test in list_tests %}
                    <div class="test-card" 
                        data-test-id= "{{ test.id }}"
                        data-test-title= "{{ test.title }}"
                        style="background-image: url({% if test.image %}/home_app/static/images/media/{{ test.id }}{% else %}/home_app/static/images/media/4.png{% endif %});">
                        <div class="test-info">
                            <h3>{{ test.title }}</h3>
                            <p>Автор: {{ test.author_name }}</p>

                            <p>{{ test.total_questions }} питань</p>
                        </div>
                    </div>
                {% endfor %}
                </div>
        </section>     
        
    
        {% elif not list_tests %}
            <section class="tests empty-tests">
                <div class="empty-content">
                    <h2>Тестів поки що немає</h2>
                    <p>Створи свій перший тест і допоможи іншим перевірити свої знання!</p>

                    {% if is_teacher %}                    
                        <a href="/create_test" class="btn-create">+ Створити тест</a>
                    {% endif %}

                    {% if not is_authorization %}
                        <p class="auth-hint">
                            Щоб створювати або проходити тести, будь ласка, 
                            <a href="/login" class="auth-link">увійди</a> чи 
                            <a href="/sign_up" class="auth-link">зареєструйся</a>.
                        </p>
                    {% endif %}
                </div>
            </section>
        {% endif %}  
{% endblock %}

{% block modal %}
    <div class="modal-bg" id="modal-bg" style="display:none;">
        <div class="modal" id="join-form">
            <button class="back-btn">×</button>
            
            <h2>Start test</h2>
            <div class="form-group">
                <label id="modal-id">Код test</label>
                <h3 id="modal-desc">Some text</h3>
            </div>
    
            <div class="bottom-button">
                <button class="start-test-btn" id="start-test-btn">Приєднатися</button>
            </div>
        </div>
    </div>   
    
    <div class="modal-bg" id="modal-bg-connect" style="display:none;">
        <div class="modal" id="join-form">
            <button class="reconnect-back-btn">×</button>
            
            <h2>Connect test</h2>
            <div class="form-group">
                <label id="modal-id">Вернуться к тесту</label>
                <h3 id="modal-desc">Some text</h3>
            </div>
    
            <div class="bottom-button">
                <button class="start-test-btn" id="connect-test-btn">Приєднатися</button>
                <button class="leave-test-btn" id="leave-test-btn">Залишити тест</button>
            </div>
        </div>
    </div>    
{% endblock %}

{% block footer %}
    <footer>
        <div class="footer-text">© 2025 Questy. All rights reserved.</div>
        <div class="social-media">
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="#"><i class='bx bxl-twitter'></i></a>
        </div>
    </footer>

    <script src="/home_app/static/js/codeCheck.js"></script>
{% endblock %}