{% extends "base.html" %}

{% block title %}
    PROFILE_APP
{% endblock %}

{% block links %}
    <link rel = "stylesheet" href = "{{ url_for('home_app.static', filename='css/profile.css') }}">
{% endblock %}

{% block content %}
    {% if is_authorization %}
        <div class="container-profile">
            <div class="top-section">
                <div class="graph-section">
                    <div class="dropdown">
                        <label for="chartType">Вибір графіка:</label>
                        <form action="" method="POST" class="score-form">
                            <select name="choice" id="choice" onchange="saveSelectedValueChart()">
                                <option value="graph_active1">Точність по датам</option>
                                <option value="graph_active2">Активність по годинам</option>
                                <option value="graph_active3">Кількість виконаних тестів</option>
                                <option value="graph_active4">Точність за тиждень / місяць</option>
                            </select>


                            <script>
                                const selectElement = document.getElementById("choice");

                                function saveSelectedValueChart(){
                                    localStorage.setItem('selectedOption', selectElement.value)
                                }
                                
                                function LoadSelectionChart(element){
                                    const savedValue = localStorage.getItem('selectedOption')
                                    if (savedValue) {
                                        selectElement.value = savedValue;
                                    }
                                }
                                window.onload = LoadSelectionChart;
                            </script>

                            <input type="submit" value="Send" class="send-btn-profile">
                        </form>

                        <div class="chart-container">

                            {% if dates_complete and accuracy and wt_graph == '1' %}
                                <div class="accuracy-chart-div">                          
                                    <canvas id="accuracyChart"></canvas>
                                </div>
                            {% endif %}
                            
                            {% if time_complete and count_cmpl_quiz and wt_graph == '1_active' %}
                                <div class="accuracy-chart-div">                          
                                    <canvas id="activeChart"></canvas>
                                </div>
                            {% endif %}

                            {% if dates_complete and wt_graph == 'd_cmpl' %}
                                <div class="dates_cmpl-chart-div">                          
                                    <canvas id="datesCompleteChart"></canvas>
                                </div>
                            {% endif %}

                            {% if dates_complete and accuracy and flag_graph == 'flag_graph' %}
                                <div class="accuracy-chart-div">                          
                                    <canvas id="accuracyChartWeek"></canvas>
                                </div>
                            {% endif %}

                            {% if dates_complete and accuracy and flag_graph == 'month' %}
                                <div class="accuracy-chart-div">                          
                                    <canvas id="accuracyChartMonth"></canvas>
                                </div>
                            {% endif %}

                            <script>
                                function graphs(ctx, xCor, yCor, label, text) {
                                    new Chart(ctx, {
                                        type: 'line',
                                        data: {
                                            labels: xCor,
                                            datasets: [{
                                                label: label,
                                                data: yCor,
                                                fill: false,
                                                borderColor: 'rgba(75, 192, 192, 1)',
                                                backgroundColor: 'rgba(75, 192, 192, 0.3)',
                                                borderWidth: 2,
                                                tension: 0.2,
                                                pointBackgroundColor: 'rgba(75, 192, 192, 1)',
                                                pointRadius: 5
                                            }]
                                        },
                                        options: {
                                            responsive: true,
                                            maintainAspectRatio: false,
                                            plugins: {
                                                title: {
                                                    display: true,
                                                    text: text
                                                },
                                                tooltip: {
                                                    mode: 'index',
                                                    intersect: false
                                                }
                                            }
                                        }
                                    });
                                }

                                const dates_complete = {{ dates_complete | default([]) | tojson }};
                                const accuracy = {{ accuracy | default([]) | tojson }};
                                const count_cmpl_quiz = {{ count_cmpl_quiz | default([]) | tojson }};
                                const date_complete = {{ date_complete | default([]) | tojson }};
                                const time_complete = {{ time_complete | default([]) | tojson }};
                                //console.log(time_complete)
                                //console.log(count_cmpl_quiz)

                                const accuracyCanvas = document.getElementById('accuracyChart');
                                if (accuracyCanvas) {
                                    const ctx1 = accuracyCanvas.getContext('2d');
                                    graphs(ctx1, dates_complete, accuracy, 'Точність (%)', 'Графік точності за датами');
                                }

                                const datesCompleteCanvas = document.getElementById('datesCompleteChart');
                                if (datesCompleteCanvas) {
                                    const ctx2 = datesCompleteCanvas.getContext('2d');
                                    graphs(ctx2, dates_complete, count_cmpl_quiz, 'Виконані тести', 'Графік активності');
                                }
                                
                                const activeCanvas = document.getElementById('activeChart');
                                if (activeCanvas) {
                                    const ctx2_a = activeCanvas.getContext('2d');
                                    
                                    graphs(ctx2_a, [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24], count_cmpl_quiz, 'Дати затрату часу', 'Графік активності');   
                                }
                                const accuracyChartWeek = document.getElementById('accuracyChartWeek')
                                if (accuracyChartWeek) {
                                    const ctx3 = accuracyChartWeek.getContext('2d');
                                    graphs(ctx3, dates_complete, accuracy, 'Виконані тести за тиждень', 'Графік точності за датами');
                                }

                                const accuracyChartMonth = document.getElementById('accuracyChartMonth')
                                if (accuracyChartMonth){
                                    const ctx4 = accuracyChartMonth.getContext('2d');
                                    graphs(ctx4, dates_complete, accuracy, 'Виконані тести за місяць', 'Графік точності за датами');
                                }

                            </script>
                            
                        </div>
                    </div>
                </div>

                <div class="profile-section">
                    <div class="profile-content">
                        <img src="/home_app/static/images/default-profile.jpg" alt="avatar" class="avatar">
                        <h3>{{ username }}</h3>

                        <div class="edit-profile-btns">
                            <a href="/edit_profile{{ current_user.id }}">
                                <button class="edit-btn">Змінити ім'я</button>
                            </a>
                            <a href="/send_email_app/">
                                <button>Змінити пароль</button>
                            </a>
                            <a href="/edit_avatar{{ current_user.id }}">
                                <button class="edit-btn">Змінити аватар</button>
                            </a>
                        </div>

                        <p>Пройдено тестів: <strong>{{ scores_count }}</strong></p>
                        <p>Створено тестів: <strong>{{ tests_count }}</strong></p>
                    </div>
                </div>
            </div>
            
            <div class="filter-block">
                <button class="date">Filter date</button>
                <button class="accuracy">Filter accuracsy</button>
            </div>
            
            <div class="tests-section">
                    
                <div class="score-result">
                    {% for score in scores %}
                        {% for test in list_tests %}
                            {% if test.id == score.test_id %}
                                <div class="test-card">   
                                    <p><strong>Тест: </strong>{{ test.title }}</p>
                                    <p><strong>Опис: </strong>{{ test.description }}</p>
                                    <p><strong>Автор: </strong>{{ test.author_name }}</p>
                                    <p><strong>Код: </strong>{{ test.test_code }}</p>
                                    <a href="/review_results{{ score.id }}">
                                        <button>Переглянути</button>
                                    </a>
                                    <p><strong>Результат: </strong>{{ score.accuracy }}</p>
                                    <p><strong>Дата: </strong>{{ score.date_complete }}</p>
                                    <p><strong>Час: </strong>{{ score.time_complete }}</p>
                                    
                                </div>
                                {% endif %}
                            {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <section class="no-profile">
            <div class="no-profile-content">
                <h1>У вас немає профілю, ви не авторизовані</h1>
                <p>Будь ласка, <a href="/login" class="auth-link">увійдіть</a> або <a href="/sign_up" class="auth-link">зареєструйтесь</a>, щоб отримати доступ до свого профілю.</p>
            </div>
        </section>
    {% endif %}

    <script src="/home_app/static/js/profileScoreSort.js"></script>

{% endblock %}