{% extends "base.html" %}

{% block title %}
    Quizzes
{% endblock %}

{% block links %}
    <link rel = "stylesheet" href = "{{ url_for('home_app.static', filename='css/quizzes.css') }}">

{% endblock %}



{% block content %}
    <aside>
        <div class="aside-div">
            <a href="/new_quiz"><button class="create-btn" >+ Створити новий тест за допомогою ШІ</button></a>
            <p class="devider-p">- - - - або - - - -</p>
            <a href="/create_test"><button class="create-btn" >+ Створити новий тест</button></a>
            <section class="library">
                <h2>Моя бібліотека</h2>
                <div class="quiz-card">Тест&nbsp;&nbsp; {{ count_of_tests }}/20</div>
            </section>
        </div>
    </aside>
    

    <div class="quiz-list">
        {% if list_tests %}
            <h2>Список доступних вікторин</h2>
            {% for test in list_tests %}  
                {% if test.author_name == username %}
                    {% set can_start = start_button[loop.index0] %}     
                    <div class="quiz-item">
                        <div class="info">
                            <strong>{{ test.title }}</strong>
                            <p>{{ test.description }}</p>
                            <p class="date"><strong>Дата:</strong> {{ test.created_date }}</p>
                        </div>

                        <div class="info">
                            <p class="date"><strong>Кількість питань:</strong> <span id="author" >{{ test.total_questions }}</span></p>                
                            <p class="date"><strong>Автор:</strong> <span id="author" >{{ test.author_name }}</span></p>
                        </div>
                        <!-- <p><strong>Topic description</strong> – 5 questions</p> -->
                        <div class="info-code">
                            
                            <div class="actions">
                                {% if test.test_code != 0 %}
                                    <form action="/reset_test{{ test.id }}" method="POST">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                        <button class="btn" id="clear">
                                            Скинути тест
                                        </button>
                                    </form>

                                    {% if test.test_code != 0 and not can_start %}
                                        <a href="/room{{ test.test_code }}" class="btn">
                                            <button class="start" type="button">Почати</button>
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <a href="/test_app?test_id={{ test.id }}">
                                        <button class="edit">Редагувати</button>
                                    </a>
                                    
                                    {% if test.test_code == 0 %}
                                        <a href="/create_code{{ test.id }}" class="btn">
                                            <button class="edit">Створити код</button>
                                        </a>
                                    {% endif %}

                                    <form action="/delete_test{{ test.id }}" method="POST">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                        <button class="delete">
                                            Видалити тест
                                        </button>
                                    </form>
                                {% endif %}                    
                            </div>
                            {% if test.test_code != 0 %}
                                <p class="code-p"><strong>Код: </strong><span>{{test.test_code}}</span></p>
                            {% endif %}
                        </div>
                    
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <script src="{{ url_for('home_app.static', filename='js/startTest.js') }}"> </script>
    
{% endblock %}