{% extends 'base.html '%}

{% block title %}
    Confirm pessword
{% endblock %}

{% block links %}
<link rel = "stylesheet" href = "{{ url_for('sign_up_app.static', filename='css/reset_password.css') }}">

{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="container">
            <div class="title-section-1">
                <h2 class="title">Підтвердження пароля</h2>
                <p class="par-1">Ми надіслали код на вашу електронну пошту для підтвердження пароля</p>
            </div>
            <form action="" class="form" method="POST">
                {{ form.hidden_tag() }}
                
                <div class="input-group">
                    <input type="number" name="code" placeholder="Введіть код" required class="input-code">
                </div>
    
                <div class="input-group">
                    <button class="submit-btn" type="submit">Продовжити</button>
                </div>
            </form>
        </div>
    </div>
{% endblock%}