{% extends 'base.html' %}

{% block title %}New password{% endblock %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('sign_up_app.static', filename='css/new_password.css') }}">
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="container">
        <div class="title-section-1">
            <h2 class="title">Новий пароль</h2>
            <p class="par-1">
                Будь ласка, створіть новий пароль, який ви не використовуєте на інших сайтах
            </p>
        </div>

        <form method="post" class="form">
            {{ form.hidden_tag() }}

            {{ form.new_pas(class="input-code", placeholder="Введіть новий пароль") }}
            {{ form.new_pas_conf(class="input-code", placeholder="Підтвердіть новий пароль") }}

            <button class="submit-btn" type="submit">Зберегти</button>
        </form>
    </div>
</div>
{% endblock %}
