{% extends 'base.html' %}

{% block title %}Send_email{% endblock %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('sign_up_app.static', filename='css/send_email.css') }}">
{% endblock %}

{% block content %}

<div class="wrapper">
    <div class="container">
        <div class="title-section">
            <h2 class="title">Забули пароль?</h2>
            <p class="par">
                Щоб скинути пароль, введіть зареєстровану адресу електронної пошти, і ми надішлемо вам інструкції з кодом для скидання пароля.
            </p>
        </div>

        <form method="POST" class="form">
            {{ form.hidden_tag() }}

            <div class="input-group">
                <label for="email" class="label-title">Введіть електронну пошту</label>
                <span class="icon">&#9993;</span>
                <input type="email" name="email" placeholder="Електронна пошта" required class="input-email">
            </div>

            <button class="submit-btn" type="submit">Надіслати код</button>
        </form>
    </div>
</div>

{% endblock %}
