{% extends "base.html" %}

{% block title %}
    Sign Up
{% endblock %}

{% block links %}
    <!-- <link rel="stylesheet" href="{{ url_for('sign_up_app.static', filename= 'css/sign_up.css') }}"> -->

    <link rel="stylesheet" href="{{ url_for('sign_up_app.static', filename= 'css/sing_up.css') }}">

{% endblock %}

<!-- добавление формы для регестрации -->

{% block content %}
    {% if message %}
        <p>{{ message }}</p>
    {% else %}
        <div class="wrapper">
            <span class="rotate-bg"></span>
            <div class="form-box reg">
                <h2 class="title">Реєстрація</h2>
            
                <form action="" method="POST" onsubmit="return validatePassword(event)">
                    {{ form.hidden_tag() }}

                    <div class="input-box">
                        <input type="text" name="username" required>
                        <label for="name">Ім'я</label>
                        <i class='bx bxs-user'></i>
                    </div>

                    <div class="input-box">
                        <input type="email" name="email" required>
                        <label for="email">Електронна пошта</label>
                        <i class='bx bxs-envelope'></i>
                    </div>

                    <div class="input-box">
                        <input type="password" id="password" name="password" required>
                        <label for="password">Пароль</label>
                        <i class='bx bxs-lock-alt'></i>
                    </div>

                    <div class="input-box">
                        <input type="password" id="password-confirmation" name="confirm_password" required>
                        <label for="passwrod-confirmation">Підтвердження паролю</label>
                        <i class='bx bxs-lock-alt'></i>
                    </div>
                    
                    <p id="error-message"></p>

                    <div class="radio-box">
                        <div class="radio-button-box">
                            <input type="radio" id= teacher name="is_teacher" value="True">
                            <label for="Teacher">Викладач</label>
                        </div>
                        
                        <div class="radio-button-box">
                            <input type="radio" id= pupil name="is_teacher" value="False" checked>
                            <label for="pupil">Користувач</label>               
                        </div>   
                    </div>

                    <button type="submit" class="btn">Зареєструватись</button>

                    <div class="linkTxt">
                        <p>Вже маєте акаунт? <a href="/login/" class="login-link">Авторизуватись</a></p>
                    </div>

                </form>
            </div>

            <div class="info-text reg">
                <h2>Приєднуйтесь до нашої команди зараз!</h2>
                <p>Будь ласка, введіть свої дані.</p>
            </div>

        </div>
    {% endif %}

        <script>
            function validatePassword(event){
                const password = document.getElementById("password").value;
                const confirm_password = document.getElementById("password-confirmation").value;
                const error = document.getElementById('error-message');

                const regex = /^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+{}\[\]:;"'<>,.?/~`-]).{6,}$/;

                if (!regex.test(password)) {
                    error.textContent = "Пароль повинен містити хоча б одну велику літеру, цифру і спецсимвол (мін. 6 символів).";
                    event.preventDefault();
                    return false;
                }
                
                if (password != confirm_password){
                    error.textContent = 'Паролі не співпадають.';
                    event.preventDefault();
                    return false
                }
            
            error.textContent = '';
            return true;
        }
        </script>
{% endblock %}