{% extends "base.html" %}

{% block title %}
    Create Test
{% endblock %}

{% block links %}
    <link rel = "stylesheet" href = "{{ url_for('test_app.static', filename='css/create_test.css') }}">
{% endblock %}

{% block content %}
    <div class="container" id="container">
        <h1>Новий тест</h1>
        
        <label for="test-title">Назва тесту:</label>
        <input type="text" id="test-title" name="test-title">

        <label for="test-description">Опис:</label>
        <input type="text" id="test-description" name="test-description">

        <label for="test-image">Зображення (необов'язково):</label>
        <input type="file" id="test-image" name="test-image" accept="image/*">

        <div class="test-question">

        </div>
        
        <div class="create-question-block">
            <button type="button" class="button-create-question" id="choice">Створити ще одне питання choice</button>
            <button type="button" class="button-create-question" id="input">Створити ще одне питання input</button>
            <button type="button" class="button-create-question" id="multiple-choice">Створити ще одне питання multiple-choice</button>
            <button type="button" class="button-create-question" id="image">Створити ще одне питання image</button>
        </div>
        
        <button type="button" class="submit-button" id="submit-button">Завершити створення тесту</button>
    </div>

    <button class="home-circle-btn" onclick="window.location.href='/quizzes/'">
        <i class='bx  bx-home'></i>
    </button>

    <script src="{{ url_for('test_app.static', filename= 'js/createTest/createQuestion.js') }}"></script>
    <script src="{{ url_for('test_app.static', filename= 'js/createTest/buildTest.js') }}"></script>
{% endblock %}