{% extends "base.html" %}

{% block title %}
    New quiz
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('test_app.static', filename= 'css/edit_test.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="test-header">
            <div class="test-details">
                <div class="test-title">Назва тесту: {{ test.title }}</div>
                <div class="test-description">Опис: {{ test.description }}</div>
                <div class="meta-info">Загальна кількість питань: {{ test.total_questions }} </div>
            </div>
            <a href="/edit_header_test{{ test.id }}">
                <button class="edit-btn">Редагувати</button>
            </a>
        </div>

        {% for question in list_quiz %}
            {% set answers = list_answers[loop.index0] %}
            <div class="question-block">
                <div class="question-header">
                <div>{{ question.question_text }}</div>
                <a href="/edit_question?test_id= {{ test.id }}&quiz_id= {{ question.id }}">
                    <button class="edit-btn">Редагувати</button>
                </a>
                </div>
                
                <form action="/delete_quiz{{ question.id }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button class="delete_quiz">Видалити це питання?</button>
                </form>

                <div class="question-text">
                    Виберіть правильний варіант із запропонованих нижче.
                </div>
                {% for answer in answers %}
                    {% if answer in list_answers_multiple_choice %}
                        <div class="answer correct">✓ {{ answer }}</div>
                    {% elif answer != question.correct_answer %}
                        <div class="answer incorrect">✗ {{answer}}</div>                 
                        
                    {% else %}
                        <div class="answer correct">✓ {{ answer }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}

    </div>
{% endblock %}