{% extends "base.html" %}

{% block title %}
    Edit Test
{% endblock %}

{% block links %}
    <link rel = "stylesheet" href = "{{ url_for('test_app.static', filename='css/edit_head_test.css') }}">
{% endblock %}

{% block content %}
    <div class="edit-question-form">
        <form action="" method="POST" class="edit-form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            
            <h1>Редагувати тест</h1>
            <div class="input-group">
                <input type="text" name="title" placeholder="Введіть нову назву для тесту">
            </div>
            
            <div class="input-group">
                <input type="text" name="description" placeholder="Введіть новий опис для тесту">
            </div>

            <button type="submit" class="edit-btn">Редагувати тест</button>

        </form>
        
    </div>
{% endblock %}