{% extends "base.html" %}

{% block title %}
    Edit Test
{% endblock %}

{% block links %}
    <link rel="stylesheet" href = "{{ url_for('test_app.static', filename='css/passing_test.css') }}">
{% endblock %}

{% block content %}
    <div class="content">
        <div class="question">
            <p>{{  list_quiz[question_number].question_text }}</p>
            <p>{{list_answers[question_number]}} {{ list_answers[question_number]|length}} {{ list_answers[question_number]|length is odd}}</p>
        </div>

        {% if list_quiz[question_number].question_type == "image" %}
            <div class="image-container">
                <img src="/test_app/static/images/{{ test.id }}/{{ list_quiz[question_number].image_name }}" alt="quiz image">
            </div>
        {% endif %}
        
        <div class="answers{% if list_answers[question_number]|length is odd %} one-column {% else %} two-columns {% endif %}">
            {% if list_quiz[question_number].question_type == "choice" or list_quiz[question_number].question_type == "image" %}
                {% if question_number + 1 != list_quiz|length %}
                    {% for answer in list_answers[question_number] %}         
                        <a class="answer-link" href="/passing_test?test_id={{ test.id }}&question_number= {{ question_number + 1}}">
                            <div class="answer" id="{{ answer }}">
                                <p class="answer-text">{{ answer }}</p>
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    {% for answer in list_answers[question_number] %}    
                        <a class="answer-link" href="/result_test?test_id= {{ test.id }}">
                            <div class="answer" id="{{ answer }}">
                                <p class="answer-text">{{ answer }}</p>
                            </div>
                        </a>     
                    {% endfor %}
                {% endif %}
            {% elif list_quiz[question_number].question_type == "multiple_choice" %}
                {% if question_number + 1 != list_quiz|length %}
                    {% for answer in list_answers[question_number] %}         
                        <div>
                            <button class="multiple-answer" id="{{ answer }}">
                                <p class="answer-text">{{ answer }}</p>
                            </button>
                        </div>
                    {% endfor %}
                {% else %}
                    {% for answer in list_answers[question_number] %}    
                        <div>
                            <button class="multiple-answer" id="{{ answer }}">
                                <p class="answer-text">{{ answer }}</p>
                            </button>
                        </div>   
                    {% endfor %}
                {% endif %} 
            {% endif %}
        </div>

        {% if list_quiz[question_number].question_type == "multiple_choice" %}
            {% if question_number + 1 != list_quiz|length %}
                <button class="multiple-choice-answer" data-next-url="/passing_test?test_id={{ test.id }}&question_number={{ question_number + 1 }}">
                    Відповісти на запитання
                </button>
            {% else %}
                <button class="multiple-choice-answer" data-next-url="/result_test?test_id= {{ test.id }}">
                    Відповісти на запитання
                </button>
            {% endif %}
        {% elif list_quiz[question_number].question_type == "input" %}
            <div class="answers-input">
                <input type="text" placeholder="Введіть відповідь на запитання" class="input-with-answer">
            </div>
            {% if question_number + 1 != list_quiz|length %}
                <button class="input-answer" data-next-url="/passing_test?test_id={{ test.id }}&question_number={{ question_number + 1 }}">
                    Відповісти на запитання
                </button>
            {% else %}
                <input type="text" placeholder="Введіть відповідь на запитання" class="input-with-answer">
                
                <button class="input-answer" data-next-url="/result_test?test_id= {{ test.id }}">
                    Відповісти на запитання
                </button>
            {% endif %}
        {% endif %}

        <div class="result-line">
            <p class="result-line-text"></p>
        </div>
    </div>
    
    <script>
        const correct_answer_list = {{ correct_answer_list | default([]) | tojson }};
        const question_number = {{ question_number }}
    </script>
    <script src="{{ url_for('test_app.static', filename = 'js/passingTest.js') }}"></script>
{% endblock %}