{% extends "base.html" %}

{% block title %}
    Room
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('test_app.static', filename= 'css/room.css') }}">
    <link rel="stylesheet" href="{{ url_for('test_app.static', filename= 'css/room_test_result.css') }}">
{% endblock %}
    
{% block content %}

    <div class="room-content" id="room-content"></div>
    
    <script src="https://cdn.sheetjs.com/xlsx-latest/package/dist/xlsx.full.min.js"></script>

    <script src="{{ url_for('test_app.static', filename= 'js/constant.js') }}"></script>

    <script src="{{ url_for('test_app.static', filename= 'js/roomFiles/addUserBlock.js') }}"></script>
    <script src="{{ url_for('test_app.static', filename= 'js/roomFiles/chartManager.js') }}"></script>
    <script src="{{ url_for('test_app.static', filename= 'js/roomFiles/timerManager.js') }}"></script>
    <script src="{{ url_for('test_app.static', filename= 'js/roomFiles/excelTable.js') }}"></script>

    <script src="{{ url_for('test_app.static', filename= 'js/roomFiles/testStates.js') }}"></script>

    <script src="{{ url_for('test_app.static', filename= 'js/roomRenderPages/renderWaitPage.js') }}"></script>
    <script src="{{ url_for('test_app.static', filename= 'js/roomRenderPages/renderAuthorStart.js') }}"></script>
    <script src="{{ url_for('test_app.static', filename= 'js/roomRenderPages/renderQuestion.js') }}"></script>
    <script src="{{ url_for('test_app.static', filename= 'js/roomRenderPages/renderResultTest.js') }}"></script>
    <script src="{{ url_for('test_app.static', filename= 'js/roomRenderPages/renderAuthorResultTest.js') }}"></script>
    
    <script>    
        let username = "{{ username }}"; 
        const room = "{{ test.test_code }}"; 
        const testId = Number("{{ test.id }}");
        const reconnect= getCookie("reconnect")
        const authorName= "{{ test.author_name }}";
        const totalQuestion = Number("{{ test.total_questions }}");

        const quizList = {{ list_quiz | tojson }};
        const anwersList = {{ list_answers | tojson }};
        
        if (!username) {
            username= getCookie("temporaryName");
            if (!username) {
                window.location.href = `/temporary_name${room}`;
            };
        };
        
        const socket= io("/", 
            {
                reconnection: true,
                reconnection: 7,
                reconnectionDelay: 1000
            }
        );
        
        let state = getCookie("state");
        let connected= getCookie("connected")
        let timerPaused= getCookie("timeStop");
        let plusAnswerTime= 0;
        let timerInterval= null;
        let extraTimeSeconds= 15

        if (timerPaused === NaN){
            setCookie("timeStop", "false")
            timerPaused= false
        }else if (timerPaused == 'true'){
            timerPaused= true
        }else if (timerPaused == 'false'){
            timerPaused= false
        } 
        // authorStart
        if (state && state.includes("STATE_AUTHOR_START")) {
            state= getCookie("state")
            let time= getCookie("time")
            renderAuthorStart(quizList[Number(state.replace(/\D/g, ""))], room, authorName, Number(state.replace(/\D/g, "")), totalQuestion, Number(state.replace(/\D/g, "")));
        } 
        else if (state === "authorResultTest") {
            renderAuthorResultTest(username, authorName, totalQuestion);
        } 
        else if (state === "resultTest") {
            renderResultTest(username, totalQuestion, quizList, anwersList, testId);
        } else if (reconnect){
            clearCookie(["reconnect"])

            socket.emit("reconnect_user", {
                room: room,
                username: username,
                author_name: authorName
            });

            renderWaitQuestion("reconnect")
        }
        else if (state && state.includes("question")) {
            let time= getCookie("time")
            renderQuestion(Number("{{ test.id }}"), quizList[Number(state.replace(/\D/g, ""))], anwersList[Number(state.replace(/\D/g, ""))], room, authorName);
        } 
        else if (state && state.includes("wait")) {
            renderWaitQuestion("test");
        }
        else {
            if (authorName === username || connected){
                let userList= getCookie("userList")
                renderRoomMain(room, authorName, username, quizList, userList);
                setCookie("room", room)
    
                let messages= document.getElementById("messages");
                
                if (messages && messages.children.length != 1){
                    const emptyMessages= document.getElementById("no-messages");
                    if (emptyMessages){
                        emptyMessages.remove()
                    }
                }
            } else{
                renderWaitQuestion("start");
            }
        }

        socket.on("connect", function () {     
            socket.emit("join", {
                room: room,
                username: username,
                device_id: getDeviceId()
            });
        
            if (username !== authorName && !state) {                            
                fetch('https://api.ipify.org?format=text')
                    .then(r => r.text())
                    .then(ip => {
                        socket.emit("new_user_admin", {
                            room: room,
                            username: username,
                            author_name: authorName,
                            connected:  connected,
                            ip: ip
                        });
                    })
                    .catch(e => console.error("Ошибка IP:", e));
            }
        });

        socket.on("listening_to_messages", function(data) {
            let messages = document.getElementById("messages");

            if (messages != "") {
                messages.innerHTML += `<p class="other-msg">${data}</p>`;  
            };

            if (messages && messages.children.length != 1){
                const emptyMessages= document.getElementById("no-messages");
                if (emptyMessages){
                    emptyMessages.remove()
                }
            }
        });

        socket.on('user_disconnected', function(data) {         
            let messages = document.getElementById("messages");
            
            //if (messages) {
            //    messages.innerHTML += `<p class="other-msg">${data['msg']}</p>`;  
            //}  

            if (messages && messages.children.length != 1){
                const emptyMessages= document.getElementById("no-messages");
                if (emptyMessages){
                    emptyMessages.remove()
                }
            }

            let removeUserBlock= document.getElementById(`user${data['username']}`)

            if (removeUserBlock) {
                removeUserBlock.remove()
            }
        });

        socket.on('kicked', function(data) {
            clearCookie(["room", "state", "userAnswers", "connected", "countUsersAnswer", "temporaryName", "timeStop", "time"])
            window.location.href = '/'; 
        });    
        
        socket.on("author_receive_answer", function(data) {     
            let answer= data["answer"]           
            let countUsersAnswer= getCookie("countUsersAnswer");
            countUsersAnswer = Number(countUsersAnswer) + 1  
            setCookie("countUsersAnswer", countUsersAnswer)

            state = getCookie("state");    
            addUserAnswer(data["username"], answer, authorName, quizList[Number(state.replace(/\D/g, ""))]);
            
            socket.emit("get_room_size", {
                room: room,
                author_name: authorName
            });

        });

        socket.on("recieve_count_users", function(data) {  
            let countUsersAnswer= getCookie("countUsersAnswer");
            
            state = getCookie("state");
        });

        socket.on("reconnect_ping", function(data) {          
            state = getCookie("state");        
            let newState= -2
            let newTime= getCookie("time")      
            if (username === authorName){  
                if (state === "authorResultTest"){
                    newState= -1
                    renderResultTest(username, totalQuestion, quizList, anwersList, testId);
                } else{
                    newState= Number(state.replace(/\D/g, ""))
                }
            }

            socket.emit("new_state", {
                room: room,
                username: data.username,
                author_name: authorName,
                new_state: newState,
                new_time: newTime
            });
        });

        socket.on("new_state", function(data) {  
            let newState= Number(data["new_state"])

            if (newState === -1){
                console.log("resultTest end", newState)
            } else if (newState === -2){ 
                userLeaveTest()
            }else if (newState >= 0){
                if (Number(data["newTime"]) > 1){
                    setCookie("state", `question${newState}`)
                    renderQuestion(Number("{{ test.id }}"), quizList[Number(newState)], anwersList[Number(newState)], room, authorName);
                } else{
                    setCookie("state", `wait${newState}`)
                    renderWaitQuestion("test");
                }

                checkAnswers("reconnect")
            } else{
                console.log("BAD REQUEST NEW STATE")
            }

        });

        socket.on("next_question", function(data) {  
            state = getCookie("state");
            setCookie("timeStop", "false")
            timerPaused= false
            
            checkAnswers("test");
            plusAnswerTime= 0
            if (state != "authorResultTest") {
                let numberOfQuestion= Number(state.replace(/\D/g, ""));
                setCookie("time", Number(quizList[numberOfQuestion + 1].time))
                if (numberOfQuestion != totalQuestion - 1) {
                    setCookie("state", `question${numberOfQuestion + 1}`)
                    renderQuestion(Number("{{ test.id }}"), quizList[numberOfQuestion + 1], anwersList[numberOfQuestion + 1], room, authorName);
                }
                else {
                    socket.emit("stop_test", {
                        room: room,
                        author_name: authorName
                    });
                    
                    setCookie("state", "authorResultTest")
                    renderAuthorResultTest(username, authorName, totalQuestion);
                }
            }
        });

        socket.on("result_test", function(data) {      
            checkAnswers("test");

            renderResultTest(username, totalQuestion, quizList, anwersList, testId)

            userAnswers= getCookie("userAnswers")
            userTimers= getCookie("userTimers")
            userTokens= getCookie("userTokens")

            socket.emit("user_answers", {
                room: room,
                username: username,
                author_name: authorName,
                user_answers: userAnswers,
                user_timers: userTimers,
                user_tokens: userTokens
            });

            setCookie("state", "resultTest")
        });

        socket.on("create_user_block", function(data) {  
            if (!state){   
                if (username === data["username"]){
                    setCookie("connected", "1");
                    setCookie("room", room);
                    renderRoomMain(room, authorName, username, quizList);

                    let users_list = data["users_list"].slice(1, -1);
                    users_list = users_list.split("||");
                    for (let user of users_list){
                        if (user != username && user != authorName){
                            createUserBlock(username, authorName, user, null, "not");
                        }
                    }
                }  
                createUserBlock(username, authorName, data['username'], data['user_ip'], "not");
            }
        });

        socket.on("new_user_admin", function(data) {  
            let addUser= true
            let userList= getCookie("userList")
            let blockedUsers= getCookie("blockedUsers")
            let waitUserIp= document.querySelectorAll(".user-ip")

            if (blockedUsers){
                blockedUsers= blockedUsers.split("$%^")
                
                blockedUsers.forEach(blockIp =>{
                    if (data.ip === blockIp){
                        addUser= false
                    }
                })
            }

            //if (userList){
            //    userList= userList.split("</>")
            //    userList= userList.map(user => user.split("()"))
            //
            //    userList.forEach(user =>{
            //        if (user === data.ip){
            //            addUser= false
            //        }
            //    })
            //}
            //
            //if (waitUserIp){
            //    waitUserIp.forEach(userIp =>{
            //        if (userIp.textContent === data.ip){
            //            addUser= false
            //        }
            //    })
            //}

            if (addUser && !state && !data.connected){
                createUserBlock(username, authorName, data['username'], data['ip'], "wait");
            }
        });

        socket.on('plus_time', function(data) {          
            const timer= document.getElementById("timer")
            if (!timer) return;
            
            const timerCount= getCookie("time")
            plusAnswerTime += 15
            if (timerCount && timer.textContent != "Час закінчений"){
                timer.textContent = parseInt(timerCount) + extraTimeSeconds
                setCookie("time", parseInt(timerCount) + extraTimeSeconds)
            }
        });

        socket.on('change_time', function(data) {          
            timerPaused= !timerPaused
            setCookie("timeStop", timerPaused)
            const playBtn= document.getElementById("play-btn")

            if (playBtn){
                if (timerPaused){
                    playBtn.textContent= "Почати"
                }
                else{
                    playBtn.textContent= "Зупинити"
                }
            }
        });

        socket.on('start_test', function(data) {   
            let stateCookies= getCookie("state")
            let state= stateCookies ? Number(stateCookies.replace(/\D/g, "")) : 0;
            let messages = document.getElementById("messages");         
            if (messages){
                messages.innerHTML += `<p>Start ${data["room"]}</p>`;
            }     
            
            setCookie("time", quizList[0].time)
            let connectedStart= getCookie("connected")
            clearCookie(["connected"])

            if (username === data["author_name"]) {        
                setCookie("state", `${COOKIE_AUTHOR_START}0`)  
                setCookie("countUsersAnswer", 0)  
                setCookie("countCorrectAnswer", 0)  
                renderAuthorStart(quizList[0], room, authorName, state, totalQuestion, state);
            }
            else if(connectedStart) {
                setCookie("state", "question0")  
                renderQuestion(Number("{{ test.id }}"), quizList[state], anwersList[state], room, authorName);
            } else{
                window.location.href = '/'; 
            }
        });
    </script>
{% endblock %}
