{% extends "base.html" %}

{% block title %}
    Temporary_name
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('test_app.static', filename='css/temporary_name.css') }}">
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="container">
            <div class="title-section-1">
                <h2 class="title">Анонімний користувач</h2>
                <p class="par-1">Введіть анонімне ім’я, яке буде використовуватись під час проходження тесту</p>
            </div>

            <div class="input-group">
                <input class="input-name" type="text" name="temporary-name" placeholder="Введіть ім'я" required>
            </div>
    
            <div class="input-group">
                <button type="button" class="submit-btn" data-value="">Продовжити</button>
            </div>

            <br>
        </div>
    </div>

    <script>
        window.room = "{{ room }}";
    </script>

    <script src="{{ url_for('test_app.static', filename= 'js/roomFiles/tempName.js') }}"></script>
{% endblock %}