*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    align-items: center;
}

.wrapper{
    position: relative;
    width: 75vw;
    height: 84vh;
    background: white;
    border-radius: 1.6vh;
    overflow: hidden;

    border: 0.32vh solid rgba(89, 114, 84, 0.652); 
    box-shadow: 0 1.2vh 4vh rgba(0, 0, 0, 0.28); 
}

.wrapper .form-box{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* ? */
.wrapper .form-box.login{
    left: 0;
    padding: 0 9.6vh 0 6.4vh; 
}

.form-box h2{
    padding-top: 3.2vh;
    margin-bottom: 1.6vh;
    position: relative;
    font-size: 4.8vh;
    color: black;
    text-align: center;
}

.form-box h2::after{
    content: "";
    position: absolute;
    bottom: -4.8vh;
    left: 50%;
    transform: translateX(-50%);

    width: 3vw;
    height: 0.64vh;

    background: black;
}

.form-box .input-box{
    position: relative;
    width: 100%;
    height: 8vh;
    margin: 4vh 0;
}

.input-box input{
    width: 100%;
    height: 100%;

    background: transparent;
    columns: black;
    font-size: 2.56vh;
    font-weight: 500;
    border: none;
    outline: none;
    border-bottom: 0.32vh solid black;
    transition: .5s;
    padding-right: 3.68vh;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  /* transition: background-color 0s 600000s, color 0s 600000s !important; */
  background-color: transparent;
}
.input-box input:focus,
.input-box input:valid{
    border-bottom-color: lightblue;
    background-color: white;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 2.56vh;
    color: black;
    pointer-events: none;
    transition: 0.5s;   
}


.input-box input:focus~label,
.input-box input:valid~label{
    top: -0.8vh;
    color:  rgba(59, 73, 109, 1);
}

.input-box i{
    position: absolute; 
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 2.88vh;
    transition: 0.5s;
}

.input-box input:focus~i,
.input-box input:valid~i{
    color:  rgba(59, 73, 109, 1); 
}

form button{
    width: 100%;
    height: 7.2vh;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    border-radius: 6.4vh;
    cursor: pointer;
    font-size: 2.56vh;
    font-weight: 600;
}

form button:hover{
    box-shadow: 0 0 1.6vh rgba(0, 0, 0, 0.5);
}

form .linkTxt{
    font-size: 2.24vh;
    color:  black;
    text-align: center;
    margin: 3.2vh 0 1.6vh;
}

.linkTxt p a{
    color: #17a;
    text-decoration: none;
    font-weight: 600;
}


.wrapper .info-text{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper .info-text.login{
    right: 0;
    text-align: right;
    padding:  0 6.4vh 9.6vh 24vh;
}

.wrapper .info-text h2{
    font-size: 5.76vh;
    color: white;
    line-height: 1.3;
    text-transform: uppercase;
}

.wrapper .info-text p{
    font-size: 2.56vh;
    color: rgba(255, 255, 255, 0.35);
}

.wrapper .rotate-bg{
    position: absolute;
    top:  -6.4vh;
    right: -100;
    width: 70vw;
    height: 134vh;
    background: rgba(113, 145, 107, 1);
    transform: rotate(10deg) skewY(40deg);
    transform-origin: bottom right;
    border-bottom:  0.48vh solid rgba(113, 145, 107, 1);
    transition:  1.5s ease;

}

.wrapper {
    margin: 4vh;
}

.input-box input {
    border-bottom: 0.32vh solid #b5bfd1;
}

.input-box input:focus,
.input-box input:valid {
    border-bottom-color: #3b496d;
}

.input-box label {
    color: #6b7280;
}


.input-box i {
    color: #9ca3af;
}

.input-box input:focus ~ i,
.input-box input:valid ~ i {
    color: #3b496d;
}
