main {
    display: flex;
}



.wrapper{
    width: 100vw;
    height: 84vh;

    display: flex;  
    justify-content: center;
    align-items: center;
}

.container{
    width: 40vw;
    height: fit-content;
    background-color: white;
    padding: 3vh; 
    border-radius: 2.5vh; 

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.8vh;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}


.title-section h2{
    font-weight: 600;
}

.title{
    color: black;
    font-size: 4.5vh; 
    font-weight: 600;
}

.par, .par-1 {
    color: #484d54ce;
    font-size: 2.5vh; 
    font-weight: 400; 
    line-height: 1.4; 
    text-transform: none; 
}

.input-group{
    position: relative;
}

.input-group, .label-title{
    color: #38475a;
    font-size: 2.5vh;
    display: block;
    font-weight: 500;
}

.input-email, .input-code{
    width: 100%;
    background-color: none;
    color: #38475a;
    font-size: 2.7vh; 
    font-weight: 300;
    border: 0.2vh solid #EAECF0;
    padding: 1.8vh 2vh;
    outline: none;
    border-radius: 1.8vh;
}

.input-group input::placeholder{
    color: #484d54ce;
    font-size: 2.7vh;
    font-weight: 400;
}

.input-group .icon{
    position: absolute;
    align-items: center;
    color: #38475a;
    left: 2.5vh;
    top: calc(50% - 2vh);
    text-align: center;
    font-size: 4vh;
}

.submit-btn{
    width: 100%;
    background-color: rgb(29, 36, 27);
    border: 0.2vh solid transparent;
    color: #fff;
    font-size: 3.5vh; 
    font-weight: 500;
    padding: 2vh 5vh;
    border-radius: 1.8vh;
    cursor: pointer;
    text-align: center;
}

.submit-btn:hover{
    opacity: 0.90;
}
