{% extends "base.html" %}

{% block title %}Login Page{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('user_app.static', filename= 'css/login.css') }}">
{% endblock %}

{% block content %}
<div class="wrapper">
    <span class="rotate-bg"></span>

    <div class="form-box login">
        <h2 class="title">Авторизація</h2>

        <form method="post">
            {{ form.hidden_tag() }}

            <div class="input-box">
                <input name="email" type="email" required>
                <label>Електронна пошта</label>
                <i class='bx bxs-envelope'></i>
            </div>

            <div class="input-box">
                <input name="password" type="password" required>
                <label>Пароль</label>
                <i class='bx bx-lock'></i>
            </div>

            <button type="submit" class="btn-login">Авторизуватись</button>

            <div class="linkTxt">
                <p>Не маєте акаунту?
                    <a href="/sign_up/" class="reg-link">Створити акаунт</a>
                </p>
                <p>
                    <a href="/send_email_app/" class="reg-link">Забули пароль?</a>
                </p>
            </div>
        </form>
    </div>

    <div class="info-text login">
        <h2>Ласкаво просимо!</h2>
        <p>Будь ласка, введіть свої дані.</p>
    </div>
</div>
{% endblock %}
