{% extends 'base.html' %}

{% block title %}Reset password{% endblock %}

{% block links %}
<link rel = "stylesheet" href = "{{ url_for('user_app.static', filename='css/reset_password.css') }}">

{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="container">
        <div class="title-section-1">
            <h2 class="title">Скидання паролю</h2>
            <p class="par-1">
                Ми надіслали код на вашу електронну пошту для скидання паролю
            </p>
        </div>

        <form method="post" class="form">
            {{ form.hidden_tag() }}

            {{ form.code(
                class="input-code",
                placeholder="Введіть код",
                inputmode="numeric"
            ) }}

            <button class="submit-btn" type="submit">Продовжити</button>
        </form>
    </div>
</div>
{% endblock %}
