{% extends 'base.html' %}

{% block title %}Reset password{% endblock %}

{% block links %}
<link rel = "stylesheet" href = "{{ url_for('user_app.static', filename='css/reset_password.css') }}">

{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="container">
        <div class="title-section-1">
            <h2 class="title">Скидання паролю</h2>
            <p class="par-1">
                Ми надіслали код на вашу електронну пошту для скидання паролю
            </p>
        </div>

        <form method="post" class="form">
            {{ form.hidden_tag() }}

            {{ form.code(
                class="input-code",
                placeholder="Введіть код",
                inputmode="numeric"
            ) }}

            <button class="submit-btn" type="submit">Продовжити</button>
        </form>

        <div class="avatar-editor">

        <div class="avatar-preview">
            <img id="layer-skin">
            <img id="layer-top">
            <img id="layer-pants">
            <img id="layer-shoes">
            <img id="layer-accessories">
        </div>

        <div class="avatar-columns">
            <div class="avatar-column" data-type="skin"></div>
            <div class="avatar-column" data-type="top"></div>
            <div class="avatar-column" data-type="pants"></div>
            <div class="avatar-column" data-type="accessories"></div>
            <div class="avatar-column" data-type="shoes"></div>
        </div>

    </div>

        
    </div>

<script>
let avatar = "{{ current_user.avatar }}".split("|");

const indexMap = {
  skin: 0,
  top: 1,
  pants: 2,
  accessories: 3,
  shoes: 4
};

document.querySelectorAll(".avatar-column").forEach(col => {
  const part = col.dataset.part;

  for (let i = 1; i <= 5; i++) {
    const img = document.createElement("img");
    img.src = `/static/avatars/${part}/${i}.png`;

    img.onclick = () => {
      avatar[indexMap[part]] = i;
      document.getElementById(part).src = img.src;
    };

    col.appendChild(img);
  }
});

document.getElementById("saveAvatar").onclick = () => {
  fetch("/profile/avatar", {
    method: "POST",
    headers: {"Content-Type": "application/json"},
    body: JSON.stringify({
      avatar: avatar.join("|")
    })
  });
};
</script>
</div>
{% endblock %}
