*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
}

.wrapper{
    /* background-color: rgba(113, 145, 107, 1); */
    width: 100vw;
    height: 84vh;

    display: flex;  
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.container{
    width: 65vw;
    background-color: rgba(255, 255, 255, 1);
    padding: 8vh;
    border-radius: 3.8vh;
    background-color: rgba(0, 0, 0, 0.8) 0vh 1vh 32vh;
}

.title-section{
   margin-bottom: 8vh; 
}

.title-section-1{
    margin-bottom: 0vh; 
}
 
.title-section h2{
    font-weight: 80vw;
 }
 
.title{
    color: black;
    font-size: 7vh;
    font-weight: 67.5vh;
    text-transform: capitalize;
    margin-bottom: 2.7vh;
}

.par, .par-1{
    color: #484d54ce;
    font-size: 4.3vh;
    font-weight: 54vw;
    text-transform: capitalize;
    margin-bottom: 5.4vh;
    line-height: 0.4vh;
}

.input-group{
    position: relative;
}

.input-group, .label-title{
    color: #38475a;
    text-transform: capitalize;
    margin-bottom: 3vh;
    font-size: 3.8vh;
    display: block;
    font-weight: 67.5vw;
}

.input-email, .input-code{
    width: 100%;
    background-color: none;
    color: #38475a;
    font-size: 4.3vh;
    font-weight: 40.5vw;
    border: 0.27vh solid #EAECF0;
    padding: 2.4vh 4.8vh 2.4vh 1vw;
    outline: none;
    border-radius: 2.1vh;
    margin-bottom: 4.5vh;
}

.input-group input::placeholder{
    color: #484d54ce;
    font-size: 4.3vh;
    font-weight: 54vw;
}

.input-group input::placeholder::before{
    opacity: 0.30;
    color: red;
}

.input-group .icon{
    position: absolute;
    align-items: center;
    color: #38475a;
    left: 3.5vh;
    top: calc(50% - 3.2vh);
    text-align: center;
    font-size: 23px;
}

.submit-btn{
    width: 100%;
    height: 9vh;
    background-color: rgb(29, 36, 27);
    border: 0.27vh solid transparent;
    color: #fff;
    font-size: 4.3vh;
    font-weight: 67.5wh;
    padding: 3.5vh 6,4vh ;
    border-radius: 2.1vh;
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
}

.submit-btn:hover{
    opacity: 0.90;
}