:root {
    --green-main: #4CAF50;
    --green-dark: #3e8641;
    --green-light: hwb(120 82% 11% / 0.877);
    --bg-light: #f9fdf9;
    --bg-aside: #f0f7f0;
    --text-dark: #2f2f2f;
    --shadow: rgba(0, 0, 0, 0.1);
}

main { 
    width: 100vw; 
    height: 84vh; 
} 

footer {
    display: none;
}

main{
    flex: 1;
    overflow-y: auto;
    display: flex;
    gap: 0px;
}

aside {
    width: 20vw;
    height: 92vh;
    background-color: var(--bg-aside);
    padding: 3.2vh 1vw 1vh 1vw;
    box-shadow: 0 0 1vw var(--shadow);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-btn {
    width: 18vw;
    padding: 1.75vh 1.5vw;
    font-size: 2.2vh;
    background-color: var(--green-main);
    color: white;
    border: none;
    border-radius: 1vh;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0.4vw 1vh var(--shadow);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.create-btn a{
    text-decoration: none;
    color: #ffffff;
    
    display: flex;
    justify-items: center;
    align-items: center;
}

.start a{
    text-decoration: none;
    color: var(--text-dark)
}

.edit a{
    text-decoration: none;
    color: var(--text-dark)
}

.create-btn:hover {
    background-color: var(--green-dark);
    transform: scale(1.03);
}

.library {
    width: 100%;
    display: flex;
    flex-direction: column;

    left: 0;
    padding: 2.2vh 0 ;
}

.library h2 {
    font-size: 2.7vh;
    margin-bottom: 2vh;
    margin-top: 2vh;

    text-align: left;

}


.code-p span{
    /* background: linear-gradient(135deg, #80b48a, #56c591); */
    padding: 0.5vh 0.5vw;
    font-size: 2vh;
    border-radius: 1vh;
}

.quiz-card {
    width: 100%;
    padding: 1.5vh;
    font-size: 2.5vh;
    margin-bottom: 1.2vh;
    background-color: var(--green-light);
    border-radius: 1vh;
    box-shadow: 0 0.2vh 0.5vh var(--shadow);
    transition: background-color 0.3s, transform 0.3s;
}

.quiz-card:hover {
    background-color: #e0f0e5;
    /* transform: translateY(0.3vh); */
}

.quiz-list {
    flex: 1;
    padding: 2vw;

    width: 80vw;
    height: 92vh;

    display: flex;
    flex-direction: column;
    justify-content: top;
    
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.quiz-list h2 {
    margin-bottom: 2vh;

    font-size: 3vh;
}

.quiz-item {
    width: 100%;
    height: 16.5vh;
    background-color: var(--bg-light);
    padding: 1.8vw;
    margin-bottom: 1vh;
    border-radius: 1vh;
    box-shadow: 0 0.4vw 0.5vh var(--shadow);
    transition: transform 0.3s ease;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.quiz-item p {
    margin: 0;
    font-size: 2vh;
    /* color: var(--text-dark); */
}

.date{
    font-size: 1.5vh;
}


.quiz-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--bg-light);
    padding: 1vw;
    margin-bottom: 1vh;
    border-radius: 1.2vh;
    box-shadow: 0 0.2vw 1vh var(--shadow);
    transition: transform 0.3s ease;
    gap: 1vw;
    flex-wrap: wrap;
}


.quiz-item .info {
    flex: 1;
    /* min-width: 200px; */
}

.quiz-item .info strong {
    display: block;
    font-size: 2vh;
    color:  var(--text-dark);
    margin-bottom: 0.4vh;
}

.quiz-item .info p {
    margin: 0.2vw 0;
    color: #555;
    font-size: 1.8vh;
}

.quiz-item .info .date {
    font-size: 1.8vh;
    color: #777;
}

.actions {
    display: flex;
    gap: 1vw;
    align-items: center;
    flex-shrink: 0;
}

.actions button{
    width: 10vw;
    height: 5vh;
    font-size: 2vh;
    margin-right: 1vw;
    padding: 1vw -1vh;
    border: none;
    border-radius: 1.2vh;
    font-weight: 600;
    cursor: pointer;
    background: var(--green-main);
    color: white;

    transition: background-color 0.3s ease, transform 0.2s ease;
}

.actions button:hover {
    background-color: var(--green-dark);
    transform: translateY(-0.5vh);
}

button.delete {
    color: white;
    background: rgb(231, 41, 41);
}

button.delete:hover {
    background-color: rgb(192, 47, 47);
    color: white;
}

header{
    margin: 0;
}

.info-code{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 1.3vh;
}

/*  */
.devider-p {
    font-size: 2.4vh;
    font-style: italic;
    color: #606974ce;
    line-height: 1.5;
    text-align: center;
    margin: 0.8vw 0;
}

