:root {
    --green-main: #4CAF50;
    --green-dark: #3e8641;
    --green-light: #aad8af;
    --bg-light: #f9fdf9;
    --bg-aside: #f0f7f0;
    --text-dark: #2f2f2f;
    --shadow: rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, sans-serif;
    /* background-color: var(--bg-light); */
    background-color: hwb(120 82% 11% / 0.877);
    color: var(--text-dark);
    margin: 0;
    padding: 0;
}

.container {
    width: 55vw;
    margin: 2vh auto;
    padding: 2vh;
    background: white;
    border-radius: 2vh;
    box-shadow: 0 4px 10px var(--shadow);
}

h1 {
    text-align: center;
    color: var(--green-dark);
    font-size: 4vh;
    margin-bottom: 1.5vh;
}

label {
    font-size: 2.5vh;
    font-weight: 600;
    display: block;
    margin: 1vh 0 0.8vh;
}

input[type="text"], input[type="file"] {
    width: 100%;
    padding: 1vh;
    
    border: 0.2vh solid var(--green-light);
    border-radius: 1vh;
    font-size: 2vh;
    margin: 1vh 0px;
}

input[type="file" i] {
    padding: 1vh 1.4vh;
    border: 0.1vh solid var(--green-light);
    border-radius: 0.6vh;
    font-size: 1.6vh;
    transition: 0.3s ease;
}



.question-block {
    background-color: var(--bg-aside);
    border: 0.2vh solid var(--green-light);
    border-radius: 1.2vh;
    padding: 1.5vh;

    margin-top: 1.5vh;
    box-shadow: 0 0.1vw 0.4vh var(--shadow);
}



.question-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vh;
    font-weight: bold;
    color: var(--green-dark);
}

.question-header span {
    font-size: 2vh;
}

.delete-question {
    background: none;
    border: none;
    color: rgb(233, 96, 96);
    cursor: pointer;
    font-size: 2vh;
    font-weight: 600;
}

.answers {
    margin-top: 1vh;
}

.answers span{
    font-size: 2vh;
}

.answer-input {
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-bottom: 1vh;
}

.answer-input input[type="text"] {
    flex: 1;
}

.add-mutlti,
.add-answer {
    background-color: var(--green-main);
    border: none;
    color: white;
    padding: 1vh 1vw;
    border-radius: 0.8vh;
    cursor: pointer;
    font-size: 2.2vh;
    font-weight: 600;
    transition: 0.3s;
}

.add-answer:hover {
    background-color: var(--green-dark);
}

.question-radio, .checkbox {
    width: 2.5vh;
    height: 2.5vh;
}

.create-question-block {
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
}

.button-create-question {
    background-color: #e8f6ec;
    border: 0.2vh solid #3da35d;
    width: 24%;
    padding: 1vh 2.5vw;
    color: #2d6a4f;

    font-weight: 700;
    font-size: 2vh;
    border-radius: 1vh;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease, transform 0.15s ease;
    margin-top: 1.5vh;
}

/* Контейнер для кнопок */
.create-question-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5vw;
    margin-top: 2vh;
}

.button-create-question:hover {
    background-color: #3da35d;
    color: #fff;
    border-color: #2f8b52;
    transform: translateY(-2px);
}

.button-create-question:active {
    transform: translateY(1px);
    background-color: #2f8b52;
    color: #fff;
}

/* завершити створення тесту */
.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    padding: 1.6vh 2vw;
    background-color: #3da35d;
    color: white;
    font-weight: 500;
    font-size: 3vh;
    border: none;
    border-radius: 1.2vh;
    cursor: pointer;
    transition: all 0.3s ease;
    /* text-transform: uppercase; */
    width: 100%;
    text-align: center;
    box-shadow: 0 0 0 rgba(0,0,0,0);
}

.submit-button:hover {
    background-color: #2f8b52;
    transform: translateY(-1.5px);
}

.submit-button:active {
    transform: translateY(1px);
    background-color: #276b45;
}

.home-circle-btn {
    position: fixed;
    bottom: 2vh;
    right: 2vh;

    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    border: none;

    background: #2e7d32;
    color: #fff;
    font-size: 3.4vh;
    font-weight: bold;

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0.4vh 1vh rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
    z-index: 1000;
}

.home-circle-btn:hover {
    background: #388e3c;
    box-shadow: 0 0.6vh 1.4vh rgba(0, 0, 0, 0.3);
}

.home-circle-btn:active {
    transform: scale(0.95);
    box-shadow: 0 0.2vh 0.6vh rgba(0, 0, 0, 0.2);
}

.delete-answer {
    background-color: #e53935;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 1.1vw;
    height: 2.2vh;
    cursor: pointer;
    font-weight: bold;
    line-height: 2.2vh;
    text-align: center;
    margin-left: 0.8vh;
    transition: background-color 0.2s ease;
}

.delete-answer:hover {
    background-color: #c62828;
}
