
header, .navbar,footer {
    display: none;
}

:root {
    --primary-color: #283928;
    --primary-color1: #283928c1;
    --accent-color: #475744;
    --border-color: #ccc;
    --font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8vh;
}
  
h1, h3{
    font-size: 4vh;
    color: var(--primary-color1);
}
  
.create-test-page {
    /* height: 58vh; */
    width: 45vw;
    min-width: fit-content;
    margin: 1.5vh auto;
    padding: 2.9vh;

    background-color: white;
    border-radius: 1.2vh;
    box-shadow: 0 0.4vh 1.2vh rgba(0,0,0,0.05);
}
  
.page-title {
    font-size: 3.5vh;
    margin-bottom: 2.4vh;
    color: var(--primary-color);
    text-align: center;
}
  
.test-form {
    display: flex;
    flex-direction: column;
    gap: 2.1vh;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: 500;
    font-size: 3vh;
    margin-bottom: 0.6vh;
    color: var(--primary-color);
}

.load-img{
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}


.load-img label {
    font-weight: 500;
    font-size: 2.9vh;
    margin-bottom: 0.6vh;
    color: var(--primary-color);
}

.form-group input,
.form-group textarea, input[type="file" i] {
    padding: 1vh 1.4vh;
    border: 0.1vh solid var(--border-color);
    border-radius: 0.6vh;
    font-size: 2.7vh;
    transition:  0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: var(--accent-color);
    outline: none;
}

.form-group textarea {
    resize: vertical;
    min-height: 10vh;
    max-height: 30vh;
}

.form-row {
  display: flex;
  gap: 1.6vh;
  flex-wrap: wrap;
}

.form-row .form-group {
  flex: 1;
  min-width: 20vh;
}

.submit-button {
    background-color: var(--primary-color);
    color: white;
    padding: 1.2vh 2vh;
    font-size: 3.1vh;
    border: none;
    border-radius: 0.6vh;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: var(--accent-color);
}

/*  */
.home-circle-btn {
    position: fixed;
    bottom: 2vh;
    right: 2vh;

    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    border: none;

    background: #2e7d32;
    color: #fff;
    font-size: 3.4vh;
    font-weight: bold;

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0.4vh 1vh rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
    z-index: 1000;
}

.home-circle-btn:hover {
    background: #388e3c;
    box-shadow: 0 0.6vh 1.4vh rgba(0, 0, 0, 0.3);
}

.home-circle-btn:active {
    transform: scale(0.95);
    box-shadow: 0 0.2vh 0.6vh rgba(0, 0, 0, 0.2);
}
