:root {
    --green-main: #4CAF50;
    --green-dark: #3e8641;
    --green-light: #aad8af;
    --bg-light: #f9fdf9;
    --bg-aside: #f0f7f0;
    --text-dark: #2f2f2f;
    --shadow: rgba(0, 0, 0, 0.1);
}

.wrapper-author-results-container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 0px !important;
  box-sizing: border-box;
  background: #f4f7f4; 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.25vh;
  gap: 0.8vh;
  font-family: "Segoe UI", sans-serif;
}

.results-header-block {
  text-align: center;
  color: #205b24; 

  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 1vh;
}

.button-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 0vh 1vw;
    height: 8vh;
    width: 98vw;
}

.right-button-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.left-button-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.results-table-block {
    text-align: center;
    color: #205b24; 

    display: flex;
    flex-direction: row;
    align-self: flex-start;
    gap: 1vh;
}

.results-table-block h1 {
  margin-left: 1vw;
  font-weight: 700;
  font-size: 3.5vh;
}

.results-header-block h1 {
  font-weight: 700;
  font-size: 4.25vh;
}

.results-header-block p {
  font-size: 2vh;
  color: #388e3c;
  margin: 0;
}

.content-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start; 

  width: 100vw;
  height: fit-content;
  gap: 1vw;
}

/* .content-box {
    display: flex;
    gap: 3vw;
    align-items: stretch;
} */

.info-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 

  width: 49vw;
  height: 70vh;
  gap: 2vh;
}

.base-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start; 

  /* width:; */
  height: fit-content;
  gap: 1vh;
}

.chart-box select {
    align-self: center;
    padding: 1.5vh 2.5vw;
    font-size: 2.2vh;
    border-radius: 1.5vh;
    border: 0.09vh solid var(--green-light);
    background-color: #fff;
    color: var(--text-main);
    outline: none;
}

/* Графік */
.chart-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 1.5vh;
  padding: 2vh 0.5vw;
  margin-left: 1vw;
  border: 0.2vh solid var(--green-light);
  box-shadow: 0 0.4vh 1vw rgba(0, 0, 0, 0.15);
  width: 100vw;
  height: 70vh;
}

.chart-box h2 {
  margin-top: 0;
  color: #205b24;
  font-size: 3vh;
}

.chart-user-box { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 1.5vh;
  padding: 2vh 0.5vw;
  border: 0.2vh solid var(--green-light);
  box-shadow: 0 0.4vh 1vw rgba(0, 0, 0, 0.15);
  width: 60vw;
  height: 14vh;
}

.chart-user-box h2 {
  margin-top: 0;
  color: #205b24;
  font-size: 4.5vh;
}

.chart-user-box input {
    width: 80%;
}


/* .donat-chart{
  width: 100%;
} */

.results-info-box {
  background: #ffffff;
  backdrop-filter: blur(1vh);
  -webkit-backdrop-filter: blur(1vh);
  border-radius: 1.5vh;
  padding: 2vh 1vw;
  color: #1d4120;
  font-weight: 500;
  border: 0.2vh solid var(--green-light);
  box-shadow: 0 0.4vh 1vw rgba(0, 0, 0, 0.15);
  width: 30vw;
  height: 17vh;
}

.results-info-box h3 {
  margin-top: 0;
  color: #205b24;
  font-size: 3vh;
}

.results-info-box p{
    margin: 1vh 0;
    font-size: 2.3vh;
}

/* Таблиця результатів */
.results-table {
  background-color: #ffffff;
  border: 0.1vh solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.4vh 1vw rgba(0, 0, 0, 0.15);
  display: grid;
  border-radius: 1.5vh;
  overflow: hidden;
  width: 98vw;
  margin-bottom: 1vh;
}

.results-header, .results-row {
  display: contents;
}

.results-header {
  background: #e8f5e9;
  font-weight: bold;
}

.results-row {
  background: rgba(255, 255, 255, 1);
}

.results-row:hover {
  background: rgba(154, 231, 160, 0.427);
  transition: background 0.5s ease;
}

.cell {
  display: flex;
  justify-content: center;
  border: 0.2vh solid var(--green-light);
  padding: 1vw;
  font-size: 2vh;
}

.accuracy {
  border: 0.2vh solid var(--green-light);
  padding: 1vw;
  font-size: 2vh;
}

.label {
  border: 0.2vh solid var(--green-light);
  padding: 1vw;
  font-size: 2vh;
}

/* Ім’я учня + % */
.student-name {
  font-weight: 600;
  font-size: 2vh;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.circle {
  display: inline-block;
  width: 2vh;
  height: 2vh;
  border-radius: 50%;
}

.circle.correct {
  background: #4caf50; 
}

.circle.wrong {
  background: #f44336;
}

.circle.no-answer {
  background: #9e9e9e;
}


.legend-box {
  background: #ffffff;
  border-radius: 1.5vh;
  padding: 1.5vw;
  box-shadow: 0 0.4vh 1vw rgba(0, 0, 0, 0.15);
  /* border: 0.2vh solid var(--green-light); */
  width: 30vw;
  height: 14.5vh;
  min-height: fit-content;
}

.legend-box h3{
  margin-top: 0;
  color: #205b24;
  font-size: 3vh;
  text-align: center;
}

.legend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 1vw;
  margin-top: 1.5vh;
  font-size: 1.5vh;
  color: #205b24;

  flex-wrap: wrap;
  gap: 1vw 2vw;
}

.legend span {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  font-size: 1.5vh;
}

.cell.accuracy {
  font-weight: bold;
  color: #388e3c; 
}

.home-btn {
    background-color: #3a803a;
    border: none;
    height: 6vh;
    width: 40vw;
    padding: 1.5vw 1.5vh;
    color: white;
    font-weight: 700;
    font-size: 3vh;
    border-radius: 2vh;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease, transform 0.15s ease;
    margin-top: 1.5vh;

    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.home-btn:hover {
    background-color: #4caf50;
    transform: translateY(-1px);
}