*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
}

.wrapper{
    /* background-color: rgba(113, 145, 107, 1); */
    background-color: hwb(120 82% 11% / 0.877);
    width: 100vw;
    height: 92vh;

    display: flex;  
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.container{
    width: 50vw;
    height: fit-content;
    background-color: rgba(255, 255, 255, 1);
    padding: 3.5vh 2vw 2vh 2vw;
    border-radius: 2.5vh;
    background-color: rgba(0, 0, 0, 0.8) 0vh 1vh 32vh;
}

.title-section{
   margin-bottom: 4vh; 
}

.title-section-1{
    margin-bottom: 0vh; 
}
 

.title-section h2{
    font-weight: 80vw;
}
 
.title{
    color: black;
    font-size: 4.5vh;
    font-weight: 67.5vh;
    text-transform: capitalize;
    margin-bottom: 2vh;
}

.par, .par-1{
    color: #484d54ce;
    font-size: 2.5vh;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 4vh;
    line-height: 3vh;
}

.input-group{
    position: relative;
}

.input-group .label-title{
    color: #38475a;
    text-transform: capitalize;
    margin-bottom: 3vh;
    font-size: 3.8vh;
    display: block;
    font-weight: 67.5vw;
}

.input-email{
    width: 100%;
    background-color: none;
    color: #38475a;
    font-size: 2.7vh;
    font-weight: 300;
    border: 0.2vh solid grey;
    padding: 2.5vh 0.5vh 1.8vh 1.5vh;
    outline: none;
    border-radius: 1.8vh;
    margin-bottom: 3.5vh;
}

.input-name{
    width: 100%;
    background-color: none;
    color: #38475a;
    font-size: 4.3vh;
    font-weight: 40.5vw;
    border: 0.27vh solid #EAECF0;
    padding: 2.4vh;
    outline: none;
    border-radius: 2.1vh;
    margin-bottom: 4.5vh;
}

.input-group input::placeholder{
    color: #484d54ce;
    font-size: 4.3vh;
    font-weight: 54vw;
}

.input-group input::placeholder::before{
    opacity: 0.30;
    color: red;
}

.input-group .icon{
    position: absolute;
    align-items: center;
    color: #38475a;
    left: 3.5vh;
    top: calc(50% - 3.2vh);
    text-align: center;
    font-size: 23px;
}

.submit-btn{
    width: 100%;
    background-color: rgb(29, 36, 27);
    border: 0.27vh solid transparent;
    color: #fff;
    font-size: 3.5vh;
    font-weight: 500;
    padding: 2vh 5vh;
    border-radius: 1.8vh;
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
}

.submit-btn:hover{
    opacity: 0.90;
}
