body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e8fbe8;
}

.main{
    display: flex;
    width: 100vw;
    height: 84vh;
}

.container-classroom {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Sidebar */
.sidebar-classroom {
    /* width: fit-content; */
    min-width: fit-content;
    width: 20vw;
    height: 100%;
    background-color: #2f3b52;
    color: #fff;
    padding: 1vw;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-top-right-radius: 1.2vh;
    border-bottom-right-radius: 1.2vh;
    box-shadow: 2px 0 12px rgba(0,0,0,0.2);
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.hidden-sidebar {
    position: absolute;
    transform: translateX(-100%);
    opacity: 0;
}

.hide-btn {
    position: fixed;
    bottom: 3vh;
    left: 2vw;

    z-index: 999;
    background: #2f3b52;
    color: white;
    border: none;
    padding: 2vh 2vh;
    border-radius: 50%;
    cursor: pointer;
    font-size: 4vh;
    box-shadow: 0 0 1vh rgba(0,0,0,0.2);
}

.hide-btn:hover {
    color: rgb(151, 147, 147);
}

.hide-btn i {
    transition: transition 0.3s ease;
}

.hide-btn.move-left {
    right: auto;
    left: 2vw;
    background-color: #dcd7d7;
}

.hide-btn.rotate i {
    transform: rotate(180deg);
    color: #2f3b52;
}


.classroom-avatar {
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    background-color: #4caf50;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 2.5vh;
    margin-bottom: 1vh;
}

.classroom-email {
    font-size: 2.5vh;
    color: #ffffffc7;
    margin: 0.5vw 0.2vw 1vw 0.2vw;
}

/* меню */
.menu {
    width: 100%;
    border-top: 0.2vh solid #eee;
    padding-top: 1.5vh;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card-body .no-tasks{
    color: #777;
    font-style: italic;
    text-align: center;
}

.menu ul li a {
    text-decoration: none;
    color: #dcd7d7;
    font-size: 2vh;
    width: 95%;
}

.menu ul li a:hover {
    color: #dcd7d7;
}

.page{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.5vh;
    align-items: center;

    padding: 1vh;
    border-radius: 1vh;
    border: transparent;

    font-size: 2.8vh;
}

.page a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2.8vh;
}

.page:hover{
    background: #3a4457;
    /* color: #2e7d32; */
    /* transition: 1.3s ease; */
    color: #dcd7d7;
    /* background-color: #2f3b52; */
}